* {
    font-family: monospace;
}

html {
	height: 100%;
}

/* body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    overflow: hidden;
    user-select: none;
} */

body {
    height: 100%;
    margin: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    user-select: none;
    background-color: rgb(255, 154, 59);
}

.pet-part {
    position: absolute;
    -webkit-user-drag: none;
    /* border: 1px solid black; */
    /* width: 100%; */
    width: 200px;
}

.pet-whole {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* position: absolute; */
    left: 50%;
    top: 50%;
    image-rendering: pixelated;
    /* filter: drop-shadow(-10px 10px 0px #0000002e); */
}

.pet-whole {
    display: flex;
    justify-content: center;
    image-rendering: pixelated;
}

.pet-world {
    width: 300px;
    height: 300px;
    /* background-color: rgb(117, 175, 225); */
    overflow: hidden;
    border: 10px solid #FA8825;
    background: url('/resources/r_background_01.png');
    background-size: cover;
    transition: ease-in-out filter 1s;
}

.interactions-panel {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    align-items: stretch;
    max-height: 30rem;
    overflow: auto;
}
.interactions-container {
    /* position: fixed; */
    position: absolute;
    z-index: 10;
    width: 200px;
    height: 50px;
}
/*.btn {
    all: unset;
    background-color: #585858;
    border-radius: 10px;
    padding: 5px;
    margin: 1px;
    font-family: monospace;
    cursor: pointer;
    width: 10rem;
    text-align: center;
}
.btn:hover {
    background-color: #8d8d8d;
}
.btn.green {
	background-color: #1f791f;
}
.btn.green:hover {
	background-color: #1a6800;
}
.btn.orange {
	background-color: #b3880e;
}
.btn.orange:hover {
	background-color: #906d0a;
}*/
.btn-back {
    margin-top: 10px;
    font-style: italic;
}
.header {
    margin: 20px;
    text-align: center;
    /*font-family: monospace;*/
    font-weight: bold;
}

#stats {
    background: #b7b7b7;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3px;
}

#sidebar {
    position: absolute;
    /*background: #efefef;*/
    padding: 10px;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

#task {
    background: #c6c6c6;
    padding: 10px;
}

#task-panel {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    gap: 5px;
}

#task-timer-bar-back {
    width: 100%;
    background: red;
    height: 20px;
    display: flex;
}
#task-timer-bar-progress {
    width: 0%;
    height: 100%;
    background: black;
    transition: width 0.2s;
}

.hide {
    display: none !important;
}