.kumbh-sans-font {
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "YOPQ" 300;
}

@font-face {
    font-family: "pixel";
    src: url("resources/font/UnifontExMono.ttf");
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "YOPQ" 300;
}

body {
    background: black;
    color: white;
    font-family: "pixel";
    height: 100%;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.links {
    display: flex;
    gap: 10px;
}

.content {
    height: 100%;
    /* margin: 24px; */
    max-width: 700px;
    /* margin: auto; */
}

.panel {
    max-width: 700px;
    padding: 10px;
    border: 1px solid rgb(0, 47, 255);
    background-color: black;
    margin: auto;
}

.panel+.panel {
    max-width: 700px;
    padding: 10px;
    border: 1px solid rgb(0, 47, 255);
    background-color: black;
    margin: auto;
    border-top: 0;
}

.panel.c0 {
    border-color: rgb(0, 47, 255);
    background-color: rgb(0, 47, 255);
    color: white;
}

.panel.side {
    width: 200px;
}

iframe {
    border: unset;
}

body:after {
    background: repeating-linear-gradient(0deg, transparent 0px, rgba(0, 0, 0, 0.5) 3px);
    background-position: 0 0;
    width: 100%;
    height: 100%;
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    animation: crt-scroll 10s infinite linear;
}

/* body:before {
    background: repeating-linear-gradient(0deg, transparent 0px, rgba(47, 79, 79, 0.1) 100px);
    background-position: 0 0;
    width: 100%;
    height: 100%;
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    animation: crt-scroll 1s infinite linear;
    mix-blend-mode: overlay;
} */

@keyframes crt-scroll {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 -100px;
    }
}

.hero-background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
}

.mt-1 {
    margin-top: 12px;
}

.gap-1 {
    gap: 12px;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.post h1 {
    margin: 0;
    font-size: large;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.page-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

#tamaweb .body {
    background: transparent !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(0, 47, 255);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 35, 190);
}

/* divider */
.section-div {
    margin-top: 20px;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
}

.btn88 {
    background: gray;
    box-shadow: -2px -2px 0px black inset, 2px 2px 0px white inset;
    width: 88px;
    height: 31px;
    display: flex;
    align-items: center;
    padding: 4px;
    box-sizing: border-box;
    image-rendering: pixelated;
    justify-content: center;
}
.btn88.dark {
    background: #515151;
}